*{
    margin: 0%;
    padding: 0%;
}

*{
    box-sizing: border-box;
}



body { 
    background-color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',;
    font-size: 20px;
    line-height: 1.8em;
}
 #container {
    background-color:gray;
   margin:30px auto;
   max-width: 400px ;
   padding: 20px;  
 }

 .form-wrap {
    text-align: center;
    font-weight: lighter;
 }

 .form-wrap h1  {
    text-align: center;
    line-height: normal;
 }

 .form-wrap p {
   padding: none;
   color: blueviolet;
 }
 .form-group {
    margin-top: 15px;
 
 }
 .form-group label {
    display: block;
    color:#333;
 }

 .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
 }

 .form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
 }

 .form-group button:hover {
    background-color: rgb(8, 6, 6);
 }

 .button-text {
    text-align: center;
    margin-top: 10px;
 }



